#
#  MOVING TO GILAB CI/CD
#

#image: internal.docker.gda.allianz/docker-docker

image: internal.docker.gda.allianz/bionic-20210222-non-root:docker

stages:
  - build

.build_template: &build_env
  stage: build
  script:
    - set -eu
    - echo $DOCKER_CFG > ~/.dockercfg
    - export COMMIT="${CI_BUILD_REF:0:8}"
    - echo "${BASHRC}" > ~/.bashrc
    - export CONTAINER_TAG="internal.docker.gda.allianz/docker-zeppelin:${COMMIT}"
    - echo "building and pushing tag $CONTAINER_TAG"
    - echo "Acquire::http::Proxy \"http://proxy02.gda.allianz:3128\";" | sudo tee -a /etc/apt/apt.conf.d/proxy.conf
    - echo "Acquire::https::Proxy \"http://proxy02.gda.allianz:3128\";"| sudo tee -a /etc/apt/apt.conf.d/proxy.conf
    - echo 'Acquire::https::Verify-Peer false;'| sudo tee -a /etc/apt/apt.conf.d/proxy.conf
    - export HTTP_PROXY="http://proxy02.gda.allianz:3128"
    - export HTTPS_PROXY="http://proxy02.gda.allianz:3128"
    - id
    - sudo apt-get clean
    - sudo apt-get update
    - sudo apt-get install software-properties-common openjdk-8-jdk wget git nodejs npm -y
    - sudo apt-get install --reinstall ca-certificates -y
    - echo 'JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64' | sudo tee -a /etc/environment
    - echo 'JRE_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre' | sudo tee -a /etc/environment
    - export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    - sudo wget -q -e use_proxy=yes -e https_proxy=proxy02.gda.allianz:3128 https://downloads.apache.org/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz -P /tmp
    - sudo tar xf /tmp/apache-maven-*.tar.gz -C /opt
    - sudo ln -fs /opt/apache-maven-3.6.3 /opt/maven
    - /opt/maven/bin/mvn --version
    - sudo npm config set strict-ssl false
    - sudo npm install --proxy http://proxy02.gda.allianz:3128 -g bower grunt
    - ./build shiro
    - ./build download --zeppelin_version=$ZEPPELIN_VERSION --spark_version=$SPARK_VERSION --hadoop_version=$HADOOP_VERSION
    - ./build binary --zeppelin_version=$ZEPPELIN_VERSION --spark_version=$SPARK_VERSION --hadoop_version=$HADOOP_VERSION
    - ./build docker --repo=internal.docker.gda.allianz/docker-zeppelin --commit=$(date | md5sum | cut -d ' ' -f 1)
    - sudo docker tag $CONTAINER_TAG $CONTAINER_TAG-z$ZEPPELIN_VERSION-s$SPARK_VERSION-h$HADOOP_VERSION
    - sudo docker push internal.docker.gda.allianz/docker-zeppelin
  only:
    - master

build_zeppelin_0.8.1_spark_2.0.2_hadoop_2.7:      
  <<: *build_env
  before_script:
    - export ZEPPELIN_VERSION=v0.8.1 
    - export SPARK_VERSION=2.0.2 
    - export HADOOP_VERSION=2.7

build_zeppelin_0.8.1_spark_2.1.1_hadoop_2.7:      
  <<: *build_env
  before_script:
    - export ZEPPELIN_VERSION=v0.8.1 
    - export SPARK_VERSION=2.1.1 
    - export HADOOP_VERSION=2.7

## ZEPPELIN_VERSION=v0.8.1 SPARK_VERSION=2.0.2 HADOOP_VERSION=2.7
## ZEPPELIN_VERSION=v0.8.1 SPARK_VERSION=2.1.1 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.0.2 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.1.1 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.2.0 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.3 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.4 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.5 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.6 HADOOP_VERSION=2.7
# ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.7 HADOOP_VERSION=2.7

#
#  END
#

#       language: java
#       sudo: required
#       services:
#         - docker
#       jdk:
#         - openjdk8

#       env:
#         matrix:
#           - ZEPPELIN_VERSION=v0.8.1 SPARK_VERSION=2.0.2 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.1 SPARK_VERSION=2.1.1 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.0.2 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.1.1 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.2.0 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.3 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.4 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.5 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.6 HADOOP_VERSION=2.7
#           - ZEPPELIN_VERSION=v0.8.2 SPARK_VERSION=2.4.7 HADOOP_VERSION=2.7

#       before_script:
#         - sudo apt-get update
#         - sudo apt-get -o Dpkg::Options::="--force-overwrite" install -y git
#         - npm update npm -g
#         - npm install -g bower grunt  

#       script:
#         - travis_wait 30 
#         - ./build shiro 
#         - ./build download --zeppelin_version=$ZEPPELIN_VERSION --spark_version=$SPARK_VERSION --hadoop_version=$HADOOP_VERSION
#         - ./build binary --zeppelin_version=$ZEPPELIN_VERSION --spark_version=$SPARK_VERSION --hadoop_version=$HADOOP_VERSION
#         - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
#         - export COMMIT=${TRAVIS_COMMIT::8}
#         - export REPO=datascienceplatform/zeppelind
#         - export NICE_BRANCH_NAME=$(echo $TRAVIS_BRANCH | sed -e 's/\//_/g')
#         - ./build docker --repo=$REPO --commit=$COMMIT
#         # - docker tag $REPO:$COMMIT $REPO:$TAG-z$ZEPPELIN_VERSION-s$SPARK_VERSION-h$HADOOP_VERSION
#         # - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER-z$ZEPPELIN_VERSION-s$SPARK_VERSION-h$HADOOP_VERSION
#         - docker tag $REPO:$COMMIT $REPO:$COMMIT-z$ZEPPELIN_VERSION-s$SPARK_VERSION-h$HADOOP_VERSION
#         - docker push $REPO

#       cache:
#         directories:
#           - $HOME/.m2
#           - $HOME/.ivy2
